### Birth Rates 2022-2023

My background is General Nursing, Childrens Nursing, Midwifery and lactation Consultancy. Because of this I choose for this assignment to look at and analyse the birth rates in Ireland for 2022 and 2023. At the time of doing this assignment the figures for 2024 were not available.

Importing libraries

In [50]:
import os
import requests
import pandas as pd     
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

import the data

In [55]:
file_path = "birth records 2022-23.csv"

df = pd.read_csv(file_path)

Checking the data

In [56]:
print(df.head())

   Year   County of Residence  Births Registered  First Births Registered  \
0  2022               Ireland              57495                  22939.0
1  2022     Cork City Council               1164                      NaN
2  2022  Clare County Council               1279                      NaN
3  2022  Cavan County Council               1039                      NaN
4  2022   Cork County Council               4906                      NaN

   Births within Marriage  Births outside Marriage  \
0                   32757                    24738
1                     592                      572
2                     734                      545
3                     600                      439
4                    3036                     1870

   Average Age of Mother - First Births only  \
0                                       31.5
1                                       31.3
2                                       32.2
3                                       30.9
4                                       32.3

   Average Age of Mothers First Births - outside marriage  \
0                                               29.8
1                                               29.6
2                                               30.9
3                                               29.3
4                                               30.7

   Average Age of Mother - outside Marriage  Average Age of Mothers
0                                      31.1                    33.2
1                                      30.5                    32.5
2                                      31.5                    33.7
3                                      31.1                    33.2
4                                      31.9                    34.0

In [57]:
print(df.tail())

    Year              County of Residence  Births Registered  \
59  2023         Tipperary County Council               1736
60  2023  Waterford City & County Council               1290
61  2023         Westmeath County Council               1089
62  2023           Wicklow County Council               1588
63  2023           Wexford County Council               1772

    First Births Registered  Births within Marriage  Births outside Marriage  \
59                      NaN                     930                      806
60                      NaN                     719                      571
61                      NaN                     616                      473
62                      NaN                     920                      668
63                      NaN                     891                      881

    Average Age of Mother - First Births only  \
59                                       30.6
60                                       30.9
61                                       30.3
62                                       32.1
63                                       29.9

    Average Age of Mothers First Births - outside marriage  \
59                                               28.7
60                                               29.5
61                                               28.1
62                                               30.1
63                                               28.2

    Average Age of Mother - outside Marriage  Average Age of Mothers
59                                      30.4                    32.6
60                                      31.0                    32.9
61                                      29.9                    32.5
62                                      31.5                    33.6
63                                      29.9                    32.1

In [58]:
df.dropna(inplace=True)  # Drop any rows with missing data

Summary informantion

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 32
Data columns (total 10 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Year                                                    2 non-null      int64
 1   County of Residence                                     2 non-null      object
 2   Births Registered                                       2 non-null      int64
 3   First Births Registered                                 2 non-null      float64
 4   Births within Marriage                                  2 non-null      int64
 5   Births outside Marriage                                 2 non-null      int64
 6   Average Age of Mother - First Births only               2 non-null      float64
 7   Average Age of Mothers First Births - outside marriage  2 non-null      float64
 8   Average Age of Mother - outside Marriage                2 non-null      float64
 9   Average Age of Mothers                                  2 non-null      float64
dtypes: float64(5), int64(4), object(1)
memory usage: 176.0+ bytes

Print the column names. This is useful when extracting the data to know what each column name is

In [60]:
print(df.columns)

Index(['Year', 'County of Residence', 'Births Registered',
       'First Births Registered', 'Births within Marriage',
       'Births outside Marriage', 'Average Age of Mother - First Births only',
       'Average Age of Mothers First Births - outside marriage',
       'Average Age of Mother - outside Marriage', 'Average Age of Mothers'],
      dtype='object')

In [61]:
print(df.describe())

              Year  Births Registered  First Births Registered  \
count     2.000000           2.000000                 2.000000
mean   2022.500000       56058.500000             22699.000000
std       0.707107        2031.517782               339.411255
min    2022.000000       54622.000000             22459.000000
25%    2022.250000       55340.250000             22579.000000
50%    2022.500000       56058.500000             22699.000000
75%    2022.750000       56776.750000             22819.000000
max    2023.000000       57495.000000             22939.000000

       Births within Marriage  Births outside Marriage  \
count                2.000000                 2.000000
mean             32535.500000             23523.000000
std                313.248304              1718.269478
min              32314.000000             22308.000000
25%              32424.750000             22915.500000
50%              32535.500000             23523.000000
75%              32646.250000             24130.500000
max              32757.000000             24738.000000

       Average Age of Mother - First Births only  \
count                                   2.000000
mean                                   31.550000
std                                     0.070711
min                                    31.500000
25%                                    31.525000
50%                                    31.550000
75%                                    31.575000
max                                    31.600000

       Average Age of Mothers First Births - outside marriage  \
count                                           2.000000
mean                                           29.850000
std                                             0.070711
min                                            29.800000
25%                                            29.825000
50%                                            29.850000
75%                                            29.875000
max                                            29.900000

       Average Age of Mother - outside Marriage  Average Age of Mothers
count                                  2.000000                     2.0
mean                                  31.150000                    33.2
std                                    0.070711                     0.0
min                                   31.100000                    33.2
25%                                   31.125000                    33.2
50%                                   31.150000                    33.2
75%                                   31.175000                    33.2
max                                   31.200000                    33.2

In [62]:
df.dtypes

Year                                                        int64
County of Residence                                        object
Births Registered                                           int64
First Births Registered                                   float64
Births within Marriage                                      int64
Births outside Marriage                                     int64
Average Age of Mother - First Births only                 float64
Average Age of Mothers First Births - outside marriage    float64
Average Age of Mother - outside Marriage                  float64
Average Age of Mothers                                    float64
dtype: object